.wrapper {
  background-image: url("http://images.infzm.com/cms/medias/image/20/10/13/b0sBaShEDymjxVEtw9s8XH3gLMxHt2VPhBLfc74q.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 216rpx;
}

.header {
  margin: 0 30rpx 38rpx;
  color: #fff;
  position: relative;

  &__title {
    font-size: 50rpx;
    margin-bottom: 28rpx;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    font-size: 24rpx;
    margin-bottom: 40rpx;
  }

}

.content {
  padding: 20rpx 0 0;
  background: #fff;
  border-top-right-radius: 20rpx;
  border-top-left-radius: 20rpx;

  &-item {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    padding: 30rpx;
    border-bottom: 1rpx solid #f1f2f3;

    &__cover {
      //padding: 5rpx;

      image {
        border-radius: 10rpx;
        width: 246rpx;
        height: 140rpx;
      }
    }

    &__content{
      padding: 5rpx 0 0 30rpx;

      &__title {
        font-size: 34rpx;
        margin-bottom: 20rpx;
      }

      &__desc {
        font-size: 28rpx;
        color: #ccc
      }

    }
  }
}

.icon-book {
  margin-right: 10rpx;
  vertical-align: sub;
  font-size: 38rpx;
}
.book-text {
  font-size: 24rpx;
}