.player-wrapper {
  position: relative;
}

.player-content {
  display: flex;
  flex-flow: column nowrap;
  justify-items: flex-start;
  justify-content: center;

  background: url("../../assets/images/playbg.jpg");

  text-align: center;

  padding: 120rpx 40rpx 80rpx;

  &__title {
    margin-top: 40rpx;
    font-size: 40rpx;
    color: #fff;
  }

  &__desc {
    margin-top: 20rpx;
    font-size: 28rpx;
    color: #bbb;
  }

  &__cover {
    margin-top: 60rpx;

    image {
      border: 2rpx solid #999999;
      border-radius: 10rpx;
      width: 444rpx;
      height: 248rpx;
    }
  }

  &__time {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    margin-top: 60rpx;
    color: #fff;
  }

  &__bottom {
    margin-top: 80rpx;
    padding: 0 20rpx;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;
    color: #fff;

    &-text {
      font-size: 24rpx;
    }

  }
}

.time-line {
  flex-grow: 1;
}

.time-left,
.time-right {
  font-size: 20rpx;
}

.icon-list, .icon-share {
  font-size: 42rpx;
}

.icon-prev, .icon-next {
  font-size: 46rpx;
}
.icon-pause, .icon-play {
  font-size: 98rpx;
}
