.player-wrapper {
  position: relative;
  &__bg {
    transform: scale(1.2);
    transform-origin: center top;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 817px;
    //filter: blur(30px) brightness(.8);
    overflow: hidden;
    z-index: -1;
    transition: opacity .3s linear;
    background: linear-gradient(180deg,rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 49%, rgba(0,0,0,0.5));

    &:after {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: url("../../assets/images/playbg.jpg");
    }
  }
}

.player-content {
  display: flex;
  flex-flow: column nowrap;
  justify-items: flex-start;
  justify-content: center;

  text-align: center;

  padding: 120rpx 40rpx 80rpx;

  &__title {
    margin-top: 40rpx;
    font-size: 40rpx;
    color: #fff;
  }

  &__desc {
    margin-top: 40rpx;
    font-size: 28rpx;
    color: #bbb;
  }

  &__cover {
    margin-top: 60rpx;

    image {
      border: 2rpx solid #999999;
      border-radius: 10rpx;
      width: 444rpx;
      height: 248rpx;
    }
  }

  &__time {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    margin-top: 60rpx;
    color: #fff;
  }

  &__bottom {
    margin-top: 80rpx;
    padding: 0 20rpx;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;
    color: #fff;

    &-text {
      font-size: 24rpx;
    }

  }
}

.time-line {
  flex-grow: 1;
}

.time-left,
.time-right {
  font-size: 20rpx;
}

.icon-list, .icon-share {
  font-size: 36rpx;
}

.icon-prev, .icon-next {
  font-size: 40rpx;
}
.icon-pause, .icon-play {
  font-size: 70rpx;
}


.player-line {
  width: 100%;
  height: 10rpx;
  background: #e6e6e6;
}